@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;   
}

:root{

    /* Document Colours  */
    --gn : #cdf348;
    --dgn: #ffffff;
    --bk : #151515;
    --we : #fefefe;
    --ds: #00000033;

    /* Lengths and Timing for Hamburger Icon **Just for the Hamburger Icon and Not used anywher else */
    --bar-width: 50px;
    --bar-height: 8px;
    --bar-gap: 6px;
    --animation-timing: 200ms ease-in-out;

    /* Getting the height of Hamburger Menu by adding the bar height and gap  */
    --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap)*2);

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--gn);
}


/* Styling Header Section */
.container{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
    background-color: var(--gn);
}

.inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hamburger-menu{
    display: none;
}

.logo{
    width: max-content;
    position: relative;
    z-index: 2;
}


/* Creating Hamburger Icon */
/* Better Accessabilty for people with less vision */
.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible{

    border: 1px solid var(--we);
    box-shadow: 0 0 0 1px var(--bk);
}

.hamburger-menu{

    /* Getting the length of the diagonal by multiplying the hamburger menu height with the square root of 2 because we are using a right angle here (1.41421356237 the square root of 2)  */
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    width: max-content;
    position: absolute;
    top: 20px;
    z-index: 2;
    cursor: pointer;
    margin-left: 30px;
}

/* Creating the Hamburger Bars */
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu > input{

    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--bk);
    color: var(--gn);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
    transform-origin: left center;

}

.hamburger-menu > input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

/* If Hamburger has an input checked inside it then */
.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2)
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2)
}

.hamburger-menu > input:checked{
    opacity: 0;
    width: 0;
}


/* The sidebar  */
.sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    translate: -100%;
    padding: .5rem 1rem;
    transition: translate var(--animation-timing);
    background-color: var(--gn);
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    position: absolute;
    z-index: 1;
}


.hamburger-menu:has(input:checked) + .sidebar{
    translate: 0;
}


.sidebar > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar > ul > li{
    margin-bottom: 20px;
    font-size: 18px;
}

.logo{
    position: absolute;
    left: 70%;
    transition: left var(--animation-timing);

}


/* Responsiveness  */
@media  screen and (min-width: 768px){

    .logo{
        position: absolute;
        left: 20%;
    }
    .inner-container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger-menu{
        display: none;
    }
    .sidebar{
        height: 100%;
        width: 100%;
        translate: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        z-index: -2;
    }

    .sidebar > ul{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 200px;
    }

    .sidebar > ul > li{
        margin-left: 40px;
        margin-bottom: 0;
    }

}

/* Header section completed */





/* First vh section */
.section1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--we);
}

.s1-div1{
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s1-div2{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.s1-div1 > h1{
    font-size: 78px;
    margin: 0;
}

.s1-div1 > p{
    font-size: 28px;
    margin: 0;
}

.calorie{
    z-index: 1;
    margin-left:14cm;
    position: absolute;
}

.phone-img{
    left:  3cm;
    z-index: 0;
    width: auto;
    height: 550px;
    margin-bottom: 2cm;
}

.wave-svg{
    right: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    bottom: 0px;
    position: absolute;
    filter: drop-shadow(-20px -10px 5px var(--ds));
}

.s1-content{
    margin: 2cm;
    height: 100%;
    width: 400px;
    display: flex;
    margin-left: 2cm; 
    margin-bottom: 6cm;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.s1-content > h1{
    font-size: 78px;
    margin: 0;
}

.s1-content > p{
    margin: 0;
    font-size: 28px;
}


.section2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.s2-div1{
    z-index: 1;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--gn);
}

.s2-div1 > h1{
    font-size: 78px;
    margin: 0;
}


.s2-div1 > h2{
    font-size: 48px;
    margin: 28px;
}

.s2-div1 > p{
    font-size: 28px;
    margin: 0;
}

.s2-div2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.s2-div2-plan{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

}

.box{
    width: 290px;
    min-height: 300px;
    display: flex;
    margin: 1cm;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    background-color:var(--we);
    justify-content: space-evenly;
    transition: var(--animation-timing);
}

.box:hover{
    filter: drop-shadow(-20px -10px 5px var(--ds));
}

.box > h1{
    font-size: 1.5rem;
    padding-top: 15px;
}

.box > img{
    width: auto;
    height: 150px;
    margin: 1cm;
}

.box > p{
    width: 80%;
    font-size: 1rem;
    text-align: center;
}

.plan-button{
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: var(--we);
    padding: 5px 20px;
    border-radius: 25px;
    background-color: var(--bk);
    transition: var(--animation-timing);
    margin-bottom: 30px;

}

.plan-button:hover{
    filter: drop-shadow(-10px -5px 5px var(--ds));
}

.s3-div1{
    height: 50%;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--ggn);
    margin: 2cm;
}

.s3-div1 > h1{
    font-size: 48px;
    margin: 0;

    
}

.clients-logo{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.client-logo{
    width: 150px;
    height: auto;
    margin: 1cm;
}

.section3{
    width: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--dgn);
    border-radius: 50px 50px 0 0;
    align-items: center;
    justify-content: center;
}

.s3-div2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(-d);

}

.foot > p{
    width: 70%;
    height: 50%;
    margin-top: 2cm;
}

.footer-li-div-pa{
    width: 100%;
    height: 50%;
}

.footer-li-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.footer-ul{
    padding: 20px 100px;
}

.footer-li-el{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--bk);
}

@media  screen and (max-width: 1150px) {
    .calorie{
        display: none;
    }
}


/* Responsiveness for tablets */
@media  screen and (max-width: 768px) {

   .s1-content{
        display: none;
    }

    .s1-div1{
        height: 50%;
    }

    .s1-div2{
        align-items: flex-end;
        height: 50%;
    }

    .phone-img{
        z-index: 0;
        width: 320px;
        height: auto;
        margin: 0;
    }

    .s2-div1 > h1 {
        margin-top: 2cm;
    }


}

/* Responsiveness for Mobile devices */
@media screen and (max-width: 430px){
    
    .s1-content > h1{
        font-size: 24px;
    }

    .s2-div1 > h1{
        font-size: 58px;
    }

    .s2-div1 > p {
        font-size: 24px;
    }

    .s2-div1 > h2{
        font-size: 34px;
        margin: 5px;

    }
    
    .box{
        margin: -10px;
        border-radius: 0;
    }

    .box:nth-child(1){
        border-radius: 25px;
        margin-top: 1cm;
    }

    .box:nth-child(3){
        border-radius: 25px;
    }

    .box:hover{
        filter: none;
    }

    .client-logo{
        width: 80px;
        margin: .5cm;
    }

    .client-logo:nth-child(5){
        display: none;
    }

    .foot > p > span{
        display: none;
    }

    
    .section3{
        border-radius: 0px;

    }

    .foot > p {
        font-size: 12px;
        margin: 1cm 1cm -0.5cm 1cm;
        width: 90%;
    }



    .footer-ul{
        padding: 15px;
        font-size: 12px;
    }

    .footer-ul:nth-child(4){
        display: none;
    }
    
    .footer-ul > a:nth-child(1){
        font-weight: bold;
        padding: 2px;
    }

}

@media  screen and (max-width:350px) {
    
    .hamburger-menu{

        gap: 4px;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu > input{

        width: 35px;
        height: 6px;
    }

    .hamburger-menu:has(input:checked)::before{

        /* 26px total height  */
        width: calc(26px*1.41421356237);
        translate: 0 -4px;

    }
    
    .hamburger-menu:has(input:checked)::after{

        /* 26px total height  */
        width: calc(26px*1.41421356237);
        translate: 0 2px;

    }

    .hamburger-menu::after{
        margin-bottom: 25px;
    }


    .container{
        height: 60px;
    }

    .logo{
        margin-top: 30px;
    }
   
    .phone-img{
        width: 250px;
        height: auto;
    }

    .section1{
        height: 70vh;
    }

    .s1-div1 > h1{
        font-size: 48px;
        margin-top:.5cm ;
    }

    .s1-div1 > p {
        font-size: 20px;
    }

    .s2-div1 > h1{
        font-size: 48px;
    }

    .s2-div1 > p{
        font-size: 20px;
    }

    .s2-div1 > h2{
        font-size: 24px;
        margin: 5px;
    }


    .s3-div1 > h1{
        font-size: 38px;
    }

    .client-logo{
        width: 50px;
        height: auto;
        margin: .5cm;
        margin-bottom: .5cm;
        padding: none;
    }

    .client-logo:nth-child(5){
        display: none;
    }


    @media  screen and (max-width: 300px) {
        
        .phone-img{
            width: 80%;
            height: auto;
        }

        .box{
            width: 90%;
        }

        .box > img{
            width: 80%;
            height: auto;
        }

    }

}